.projects{
    position: relative;
    bottom: 5em;
    /* border-top: solid  black;
    border-left: solid  black; */
    text-align: center;
    max-width: auto fit-content;
    max-height: auto fit-content;
    min-width: auto fit-content;
    min-height: auto;
}
h5 {
    position: relative;
    bottom: 13em;
    text-decoration: none;
    color: white

}

h1 {
    position: relative;
    top: .25em;
    font-size: .5em;
}

a {
    text-decoration: none;
    color: black
}

div {
    min-height: fit-content;
    max-height: fit-content;
    position: relative;
}

.summary{
    padding-bottom: 20em;
}

.aboutMe {
    font-size: 10em;
}