.title {
    font-size: 100px;
    border-bottom: 3px solid white;
    opacity: 70%;
    margin-top: 100px;
    margin-bottom: 20px;
    position: relative;
    color: white
}

h3 {
    font-size: 13px;
    margin-right: 440px;
    margin-left: 50px;
    opacity: 70%;
    position: relative;
    color: white
}

@media (min-width: 200px) and (max-width: 640px){
    .title {
        margin-Top:px;
    }
    h3 {
        font-size: 13px;
        margin-right: 75px;
    }
    .hiddenText {
        display: none;
      }
}