@media (min-device-height: 200px) and (max-device-height: 640){
    .background {
        /* background-size: cover; */
        /* width: 5px; */
        /* flex: 1; */
    }
}

.background {
    background-image: linear-gradient(to bottom right, #0c0101, #03313e);
    background-size: cover;
    height: 46rem;
    max-width: 100%;
    flex: 1;
}

.carouselCaption {
    color: rgb(14, 28, 60) !important;
    font-weight: bold !important;
  }

  /* Default styles for mobile */
.carouselContainer {
    width: 90vw; /* Set the container width for mobile screens */
    margin: 0 auto; /* Center the carousel on the page */
    position: relative;
  }

  .carouselItem img {
    width: 100%;
    height: auto;
    max-width: 50rem; /* Set a maximum width for the images, e.g., 50rem */
    border-radius: 20px; /* Add rounded corners */
    opacity: 0.6;
  }
  
  /* Media query for screens larger than 768px (tablet and above) */
  @media (min-width: 750px) {
    .carouselContainer {
      width: 75vw; /* Set the container width for larger screens */
      position: relative;
      margin-right:30rem;
    }
  }

  @media (min-width: 200px) and (max-width: 640px){
    .carouselContainer {
      width: 40vw;
      position: absolute;
      right: 400px;
      /* height:; */
    }
    .carouselItem img {
      max-width: 20rem;
      
    }
    .carouselIndicator {
      display: none;
    }
    .carouselControl{
      display: none;
    }
  }